<div *ngIf="hasLoaded">
  This is {{ check.id }}

  <h3>Ordered items:</h3>
  <ul>
    <li *ngFor="let orderedItem of check.orderedItems">
      {{ orderedItem.id }}:
      {{ menuItemService.getName(orderedItem.itemId) }}
      <div *ngIf="!orderedItem.voided">
        <button (click)="voidItem(orderedItem)">
          Void
        </button>
      </div>
      <div *ngIf="orderedItem.voided">
          Voided
      </div>
    </li>
  </ul>

  <div *ngIf="!check.closed">
    <h3>All items</h3>
    <ul>
      <li *ngFor="let item of menuItems">
        {{ item.name }} ({{ item.price }})-
        <button (click)="orderItem(item.id)">
          Order
        </button>
      </li>
    </ul>

    <button (click)="closeCheck()">
      Close check
    </button>
  </div>

  <div *ngIf="check.closed">
    Closed.<br>
    {{ check.tax }} : {{ check.tip }}
  </div>

  <div>
    <a routerLink="/">Dismiss (X)</a>
  </div>
</div>
