/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-css-only';

html,
body {
  background-color: #f5f5f5;
}

/* Define container layout. */
.set-root-maxwidth {
  display: block;
  max-width: 960px; /* Bootstrap's LG breakpoint. */
}

/* Animation used repeatedly. */
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
